*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    font-size: 62.5%;
    /* 1 rem = 10 px */
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
:root{
    --primary-color: #000839;
    --primary-shades: #00020b;
    --para-color: #80849c;
    --helper-color: #1264fa;
    --white: #fff;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    display: inline-block;
    width: 100%;
}
li{
    list-style: none;
}
h1,h2,h3,h4{
    color: var(--primary-color);
}
.para{
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--para-color);
}

/* Header and Navbar Style Starts  */
.header{
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.4rem;
    position: relative;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.5rem;
}
.navbar-list .navbar-btn{
    padding: 1.2rem 2.4rem;
    background-color: var(--white);
    border: 1px solid var(--helper-color);
    color: var(--helper-color);
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
}
.navbar-list .navbar-links:hover,.navbar-list .navbar-links:active{
    color: var(--helper-color);
    
    
}
.navbar-btn:hover{
    background: var(--helper-color);
    color: var(--white);
}
.navbar-links{
    text-transform: uppercase;
    font-weight: 500;
}

.mobile-nav-icon{
    font-size: 4rem;
    color: var(--primary-color);
}
.mobile-navbar-btn{
   display: none;
}
.mobile-nav-icons[name="close"]{
    display: none;
}

/* reusable code */
.section{
    padding: 9.6rem 0;
}
.container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}
.grid{
    display: grid;
    gap: 9.6rem;

}
.grid-two-column{
    grid-template-columns: repeat(2,1fr);
}
.btn{
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1.6rem 3.2rem;
    border-radius: 10rem;
    background: var(--helper-color);
    color: var(--white);
    transition: all 0.2s linear;
}

.btn:hover, .btn:active{
    transform: scale(1.05);
}

/* Hero Section Style Start */
.section-hero{
    position: relative;
}
.section-hero::before{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 9.6rem;
    right: 0;
    width: 30%;
    height: 50%;
    z-index: -1;
    background: #e6e6eb;
}
.primary-heading{
    font-size: 6rem;
    font-weight: 700;
}
.section-hero .para{
    margin-top: 2rem;
    margin-bottom: 3.2rem;
}
.hero-icons{
    margin-top: 4.2rem;
}
.hero-icons .icon{
    font-size: 6rem;
    position: relative;
}
.hero-icons .icon::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    background-color: var(--helper-color);
    border-radius: 50%;
    opacity: 0.7;
}
.hero-icons h2{
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}
.section-hero .hero-icon-style .para{
    line-height: 1.6;
    font-size: 1.4rem;
    margin: 0;
}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.hero-img img{
    height: 90%;
    box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1);
}
.hero-img-overlay{
    position: absolute;
    bottom: 0%;
    background: var(--primary-color);
    left: -10%;
    padding: 4rem;

}
.hero-img-overlay .para{
    color: var(--white);
}
.hero-img-overlay .para:nth-child(2){
    margin: 0;
    font-weight: bold;

}
.hero-img-overlay .para:last-child{
    margin: 0;
}


/* MEDIA QUERIES */

/* About Section */
.about-image{
    height: 100%;
    width: 100%;
    box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1);
}

.abhead{
    margin: 1rem 0 1rem 0;
}
.about .para{
    margin-bottom: 2rem;
}
.starthead{
    font-family: 'Roboto Mono', monospace;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 8rem auto;
    color: var(--primary-color);
    opacity: 0.9;
    text-transform: lowercase;   
}

/* Tools Section */
.tools .starthead{
    margin: 0 auto 3rem auto;
}
.tools .para{
    text-align: center;
    margin-bottom: 2rem;
    
}
.boxes img{
    height: 20rem;
    width: 20rem;
    border-radius: 4rem;
    margin-bottom: 1rem;
}
.tools .btn{
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1.6rem 3.2rem;
    border-radius: 2rem;
    background: var(--primary-shades);
    color: var(--white);
    transition: all 0.2s linear;
}
.boxes a{
    /* display: inline-block; */
    margin: 0 2rem;
}
.box3 a{
    margin: 0 4rem;
}
.box4 a{
    margin: 0 2.5rem;
}
.box6 a{
    margin: 0 3rem;
}
.toolsflex{
    display: grid;
    gap: 9.6rem;
    grid-template-columns: repeat(3,1fr);
}

/* REVIEW SECTION STARTS */
.review{
    max-width: 750px;
    margin: auto;
    width: 100%;

}
.review p,.review h2{
    font-size: 2.5rem;
}
.review-profile h2{
    font-weight: bold;
    line-height: 2rem;
    color: var(--primary-color);
}
.review-profile span{
    font-size: 1.5rem;
    margin: 0.8rem 0 1rem;
    font-weight: 500;
}
.review .bx{
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 0.6rem;
}
.review-box .review-text{
    margin-bottom: 1.25rem;
}
.review-box{
    max-width: 550px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3.5rem !important;
}
.review-profile{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.review-box img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0.4rem;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;

}
.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.3rem !important;
    background: var(--para-color) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    width: 1.6rem !important;
    background: var(--primary-color) !important;
}

/* Contact Form Starts Here */
.contact-form{
    max-width: 60rem;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1.4rem;
}
.contact-form input,
.contact-form textarea{
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 1.5rem;
    color: var(--white);
    background: var(--primary-color);
    border-radius: 0.6rem;
}
.contact-form .send-btn{
    width: 12rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1.2rem;
    background-color: var(--primary-color);
    cursor: pointer;

}
.contact-form .send-btn:hover{
    background-color: var(--primary-shades);
    transition: 0.3s all linear;
}
/* Footer Part Starts Here */
footer{
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    background: var(--primary-color);
    color: var(--white);
    padding: 10rem 0 3rem;
    border-top-left-radius: 12.5rem;
    font-size: 1.3rem;
    line-height: 2rem;
}
footer h3,footer h4{
    color: var(--white);
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 0 1rem 1rem 1rem;

}
.logo{
    font-weight: bold;
    margin-bottom: 3rem;
}
.col2h3{
    /* width: fit-content; */
    margin: 0 0 4rem 0;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 2rem 0;
}
footer ul li{
    list-style: none;
    margin-bottom: 1.2rem;
}
footer ul li a{
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}



/* MEDIA QUERIES */
@media(max-width:1250px){
    .container{
        padding: 0 6rem;
    }
    html{
        font-size: 56.25%;
    }
}
@media(max-width:980px){
    .container{
        max-width: 960px;
    }
    .section-hero .grid-two-column{
        grid-template-columns: 1fr;
    }
    .section-hero .hero-icons .grid-two-column{
        grid-template-columns: 1fr 1fr;
    }
    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.3s linear;

        opacity: 1;
        visibility: visible;
        pointer-events: none;
    }
    .navbar .navbar-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar .navbar-links{
        color: var(--white);
    }

    .mobile-navbar-btn{
        display: block;
        z-index: 9999;
    }
    .active .navbar{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
        z-index: 999;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close"]{
        display: block;
        color: var(--white);
        z-index: 99999999;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu"]{
        display: none;
        color: var(--white);
    }
    .section::before{
        height: 30%;

    }

    .hero-img img{
        width: 60%;
    }
    .hero-img .hero-img-overlay{
        width: 80%;
        left: 0;

    }
}
@media(max-width:768px){
    .container{
        max-width: 720px;
    }
    .hero-img img{
        width: 80%;
    }
    .hero-img .hero-img-overlay{
        width: 90%;
        left: 0;
    }
    .about .grid-two-column{
        grid-template-columns: repeat(1,1fr);
    }
    .toolsflex{
        /* margin: 0 auto; */
        gap: 6rem;
    }
    .boxes img{
        height: 17rem;
        width: 17rem;
        border-radius: 4rem;
        margin-bottom: 1rem;
    }
    /* .box2 .btn{
        margin: 0 auto;
    } */
}
@media(max-width:635px){
    .toolsflex{
        /* margin: 0 auto; */
        gap: 3rem;
        padding-right: 1rem;
    }
}
@media(max-width:450px){
    .toolsflex{
        gap: 3rem;
        grid-template-columns: repeat(2,1fr);
    }
    .review{
        width: 80%;
    }   
    .contact{
        width: 80%;
        margin: 0 auto;
    }
    .col{
        flex-basis: 50%;
    }
}
@media(max-width:350px){
    .toolsflex{
        row-gap: 1rem;
        grid-template-columns: repeat(1,1fr);
        margin-left: 4rem;
    }
    .boxes .btn{
        margin: 0 auto;
    }
    .review{
        width: 70%;
        margin: 0 auto;
    }   
    .contact{
        width: 70%;
        margin: 0 auto;
    }
}
